.contact {
  padding: 10rem 0;

  .contact-message {
    display: flex;
    align-items: center;
    border: 0.1rem solid #aaaaaa;
    padding: 2rem 2.5rem;
    margin-bottom: 3rem;

    img {
      max-width: 2.8rem;
    }

    p {
      flex-grow: 1;
      margin-left: 1.5rem;
      color: #707070;
    }
  }

  @media #{$tablet} {
    padding: 10rem 0;
  }
  @media #{$desktop} {
    padding: 12rem 0;
  }
  @media #{$largeDesktop} {
    padding: 14rem 0;
  }

  .contact-wrapper {
    @media #{$tablet} {
      display: flex;
    }
  }

  h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &__form {
    @media #{$tablet} {
      margin-left: 3rem;
      flex-grow: 1;
    }

    @media #{$desktop} {
      margin-left: 7rem;
      display: flex;
      align-items: flex-end;
    }

    &__fields {
      margin-bottom: 3rem;

      @media #{$tablet} {
        margin-right: 3rem;
        margin-bottom: 2rem;
      }

      @media #{$desktop} {
        flex-grow: 1;
        margin-right: 3rem;
        margin-bottom: 0;
      }

      &__top {
        width: 100%;

        @media #{$landscapePhone} {
          display: flex;

          input {
            width: 50%;
          }
        }

        input {
          display: block;
          width: 100%;
          margin-bottom: 2rem;
        }

        input[type="text"] {
          margin-right: 2rem;
        }
      }

      textarea {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 15rem;
        min-height: 15rem;
        max-height: 15rem;
      }
    }
  }
}
