.cookies {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 80rem;
  z-index: 9999;
  padding: 2rem 3rem;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.7);

  .btn {
    width: 100%;
    margin-top: 1rem;
  }

  @media #{$landscapePhone} {
    display: flex;

    .btn {
      width: auto;
      margin-top: 0;
      margin-left: 2rem;
      flex-shrink: 0;
    }
  }
}
