.expertise {
  margin-top: 8rem;
  margin-bottom: 3rem;

  @media #{$tablet} {
    margin-top: 14rem;
  }
  @media #{$desktop} {
    margin-top: 21rem;
  }

  .container {
    @media #{$tablet} {
      display: flex;
    }
  }

  &__left {
    flex: 0 0 44%;
    margin-bottom: 4rem;

    @media #{$tablet} {
      margin-bottom: 0;
      padding-right: 6rem;
    }

    @media #{$desktop} {
      padding-right: 8rem;
    }

    p {
      display: block;
      margin-top: 7rem;
    }
  }

  &__right {
    flex-grow: 1;
    background-image: url("/img/photos/expertise.jpg");
    background-repeat: no-repeat;
    padding: 10rem 4rem;
    position: relative;

    @media #{$landscapePhone} {
      padding: 10rem 5rem;
    }
    @media #{$tablet} {
      padding: 10rem 8rem;
    }
    @media #{$desktop} {
      margin-top: -3rem;
      margin-right: -4rem;
      padding: 13rem 14rem 13rem 8rem;
    }
    @media #{$largeDesktop} {
      margin-top: -6rem;
      padding: 10rem 22rem 13rem 10rem;
    }

    p {
      position: relative;
      font-weight: 700;
      font-size: 2.5rem;
      padding-bottom: 4rem;
      border-bottom: 0.2rem solid white;
      line-height: 1.3;

      @media #{$landscapePhone} {
        font-size: 3rem;
      }
      @media #{$tablet} {
        font-size: 2.7rem;
      }
      @media #{$desktop} {
        font-size: 3rem;
      }
    }
  }
}

h3.black {
  font-family: $ArchivoBlack;
  font-weight: 400;
  border-bottom: 0.2rem solid white;
  padding-bottom: 2rem;
  display: inline-block;
  font-size: 2.5rem;
}
