.footer {
  font-size: 1.4rem;
  padding: 2rem 0 4rem;
  line-height: 1.7;

  .container {
    display: block;

    @media #{$tablet} {
      display: flex;
      align-items: flex-start;

      div:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }

  &__logo {
    width: 7rem;
    margin-bottom: 2rem;

    @media #{$tablet} {
      margin: 0;
    }
  }

  &__info {
    @media #{$desktop} {
      display: flex;
    }
  }

  &__social {
    flex-grow: 1;
    display: flex;
    margin: 2.5rem 0;

    @media #{$tablet} {
      justify-content: center;
      margin: 0;
    }

    a {
      width: 2.8rem;
      height: 2.5rem;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: relative;
      transition: all 200ms linear;
      color: #7e7e7e;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      @media #{$tablet} {
        &:not(:last-child) {
          margin-right: 2.5rem;
        }
      }

      &:hover {
        color: #535353;
      }
    }
  }

  &__credits {
  }
}
