$headerAnimDuration: 400ms;

header.scroll {
  padding: 0;

  .container {
    width: 100%;
    max-width: 150rem;

    .logo {
      &__text {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
      }
    }
  }
}

header {
  padding: 3rem 0 2rem 0;
  transition: all $headerAnimDuration ease;
  position: fixed;
  width: 100%;
  z-index: 50;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all $headerAnimDuration ease;

    padding: 0 2rem;

    .logo {
      flex-grow: 1;
      display: flex;
      align-items: center;
      z-index: 20;

      &__symbol {
        width: 5rem;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));

        @media #{$landscapePhone} {
          width: 6.5rem;
        }
      }

      &__text {
        text-transform: uppercase;
        width: 18rem;
        font-weight: normal;
        margin-left: 1.5rem;
        position: relative;
        left: 0;
        transform: translateX(0);
        transition: all $headerAnimDuration ease;
        display: none;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));

        @media #{$landscapePhone} {
          width: 22rem;
          margin-left: 2rem;
          display: block;
        }
      }
    }

    .cta {
      position: relative;

      .btn {
        padding: 2.2rem 0;
        width: 12rem;
        font-size: 1.3rem;

        @media #{$landscapePhone} {
          width: 14rem;
          padding: 2.5rem 0;
          flex-wrap: nowrap;
        }

        @media #{$tablet} {
          width: 16rem;
          padding: 3rem 0;
          flex-wrap: nowrap;
        }
      }
    }
  }
}
