section.hero {
  width: 100%;
  cursor: none;

  .slider-wrapper {
    width: 100%;
    background: black;
    position: relative;
    min-height: 90rem;

    @media #{$landscapePhone} {
      min-height: 80rem;
    }
    @media #{$tablet} {
      height: 100vh;
    }
    @media #{$desktop} {
      min-height: 55rem;
    }

    .container {
      width: 100%;
    }

    /*=============================================
    =            Cursor            =
    =============================================*/

    .cursor {
      pointer-events: none;
      z-index: 400;
      position: fixed;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      overflow: hidden;
      transform: translate(-50%, -50%);
      transition: width 200ms, height 200ms;

      /*----------  Cursor appear animation  ----------*/
      &-transition-enter {
        width: 0;
        height: 0;
      }
      &-transition-enter-active {
        width: 8rem;
        height: 8rem;
        transition: width 400ms, height 400ms;
      }
      &-transition-exit {
        width: 8rem;
        height: 8rem;
      }
      &-transition-exit-active {
        width: 0;
        height: 0;
        transition: width 400ms, height 400ms;
      }

      &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/img/header_cursor.svg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
      }

      &--active {
        width: 7.2rem;
        height: 7.2rem;
      }

      &--idle {
        transition: opacity 500ms ease;
        opacity: 0;
      }

      &--active .cursor__bg {
        box-shadow: inset 0 0 0 4rem rgba($color: $accentColor, $alpha: 0.7);
      }

      &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 0 $accentColor;
        transition: all 400ms ease-out;
        border-radius: 50%;
      }
    }

    /*=============================================
    =            Bullets            =
    =============================================*/

    .bullets-wrapper {
      position: absolute;
      width: 100%;
      bottom: 8rem;

      @media #{$tablet} {
        bottom: 10rem;
      }

      .container {
        position: relative;

        .bullets {
          z-index: 30;
          position: absolute;
          left: 4rem;
          top: 0;
          cursor: pointer;

          &__bullet {
            margin-right: 2.5rem;
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            border: 0.3rem solid #949893;
            border-radius: 50%;
            cursor: pointer;
            transition: all 200ms linear;
            position: relative;

            &--active {
              background-color: #949893;
            }
          }
        }
      }
    }

    /*=============================================
    =            Slides            =
    =============================================*/

    $hiddenIndex: 15;
    $visibleIndex: 20;

    /** Show everything on load to increase page paint speed **/
    .slide-1.slide-transition-appear {
      z-index: 16;
      opacity: 1;
      transition: none;

      .slide__content {
        opacity: 1;
        transition: none;
      }
    }

    .slide {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      z-index: $hiddenIndex;
      opacity: 0;
      transition: opacity 300ms ease;

      &__content {
        cursor: initial;
        z-index: 100;
        position: absolute;
        opacity: 0;
        transition: all 0.4s linear;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media #{$desktop} {
          display: flex;
          align-items: center;
        }

        &--in {
          opacity: 1;
        }

        &__left {
          flex: 0 0 50%;
          text-align: left;

          @media #{$largeDesktop} {
            flex: 0 0 55%;
          }

          h2 {
            font-family: $ArchivoBlack;
            font-weight: 400;
            font-size: 3.5rem;
            max-width: 60rem;
            line-height: 1.2;
            margin-bottom: 5rem;

            @media #{$tablet} {
              font-size: 4.2rem;
            }
            @media #{$desktop} {
              margin-bottom: 0;
              font-size: 4.8rem;
            }
            @media #{$largeDesktop} {
              font-size: 5.2rem;
            }
          }
        }

        &__right {
          flex: 1 1;
          border-top: 0.1rem solid white;
          padding-top: 4rem;

          @media #{$desktop} {
            margin-left: 4rem;
            padding-left: 5rem;
            padding-top: 0;
            border-left: 0.1rem solid white;
            border-top: 0;
          }
          @media #{$largeDesktop} {
            margin-left: 8rem;
            padding-left: 6rem;
          }

          h3 {
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 3rem;
            line-height: 1.3;
            z-index: 10;
            position: relative;

            @media #{$tablet} {
              font-size: 2.8rem;
            }
          }

          a {
            display: block;
            margin-top: 2rem;
            font-weight: 400;
            text-transform: uppercase;
            display: flex;
            transition: all 200ms linear;
            align-items: center;
            position: relative;

            .text {
              position: relative;

              &::after {
                content: "";
                position: absolute;
                width: 0;
                left: 0;
                height: 0.1rem;
                bottom: -0.5rem;
                background-color: #fff;
                transition: all 200ms ease;
              }
            }

            .arrow {
              width: 1.5rem;
              height: 1.5rem;
              background-size: contain;
              background-image: url("/img/arrow.svg");
              background-position-x: right;
              background-position-y: center;
              background-repeat: no-repeat;
              display: block;
              transform: rotate(90deg);
              margin-left: 0.5rem;
              transition: all 200ms ease;
            }

            &:hover {
              .text::after {
                width: 100%;
              }

              .arrow {
                margin-left: 1.5rem;
              }
            }
          }
        }
      }

      &__progress {
        z-index: 2;
        position: absolute;
        top: 100%;
        transform: translateY(-0.7rem);
        left: 0;
        height: 0.7rem;
        width: 100%;
        background: rgba($color: #ffffff, $alpha: 0.35);

        span {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background: $accentColor;
          animation-duration: 15600ms;
          animation-timing-function: linear;
          animation-delay: 0s;
          animation-iteration-count: 1;
        }

        @keyframes fillWidth {
          0% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }
      }

      &__image {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-color: black;
        animation-duration: 15600ms;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-name: none;
      }

      @keyframes zoomIn {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.2);
        }
      }

      /*----------  Slide transition  ----------*/

      &-transition-enter {
        opacity: 0;
        z-index: $visibleIndex;

        .slide__image {
          animation-name: zoomIn;
        }
        .slide__progress span {
          animation-name: fillWidth;
        }
      }
      &-transition-enter-active {
        opacity: 1;
        transition: opacity 600ms;
        z-index: $visibleIndex;

        .slide__image {
          animation-name: zoomIn;
        }
        .slide__progress span {
          animation-name: fillWidth;
        }
      }
      &-transition-enter-done {
        opacity: 1;
        z-index: $visibleIndex;

        .slide__image {
          animation-name: zoomIn;
        }
        .slide__progress span {
          animation-name: fillWidth;
        }
      }
      &-transition-exit {
        opacity: 1;
        z-index: $visibleIndex;
        animation-name: zoomIn;

        .slide__image {
          animation-name: zoomIn;
        }
        .slide__progress span {
          animation-name: fillWidth;
        }
      }
      &-transition-exit-active {
        opacity: 0;
        transition: opacity 600ms;
        z-index: $visibleIndex;

        .slide__image {
          animation-name: zoomIn;
        }
        .slide__progress span {
          animation-name: fillWidth;
        }
      }
      &-transition-exit-done {
        z-index: $hiddenIndex;

        .slide__image {
          animation-name: none;
        }
        .slide__progress span {
          animation-name: none;
        }
      }
    }

    /*=====  End of Slides  ======*/
  }
}
