.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;

  &--default {
    background-color: $accentColor;
    border: 0;
    color: white;
    padding: 2rem 4rem;
    text-transform: uppercase;
    transition: all 200ms ease;
    outline: 0;
    font-size: 1.4rem;

    &.loading {
      color: $accentColor;
      cursor: inherit;
      &:hover {
        background-color: $accentColor;
      }
    }

    &:hover {
      background-color: lighten($color: $accentColor, $amount: 6);
    }

    &:focus {
      box-shadow: 0px 0px 0px 5px
        transparentize($color: $accentColor, $amount: 0.5);
    }
  }
}

input[type="text"],
input[type="email"],
textarea {
  border: 0;
  border-bottom: 0.2rem solid #aaaaaa;
  padding: 1.5rem 2rem;
  font-size: 1.3rem;
  position: relative;
  outline: 0;
  transition: all 150ms linear;

  &:focus {
    border-bottom: 0.2rem solid $accentColor;
    background: #f3f3f3;
  }
}

input.error,
textarea.error {
  border-bottom: 0.2rem solid $redColor;
  color: #de778b;

  &:focus {
    border-bottom: 0.2rem solid $redColor;
  }
}

.btn {
  position: relative;
  overflow: hidden;
  font-weight: 700;

  &--wide {
    min-width: 17rem;
  }

  &--small {
    padding: 1.5rem 2.5rem;
  }

  &--dark {
    background-color: #000000;

    &:hover {
      background-color: #3b3b3b;
    }
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  &.loading {
    .loader {
      display: block;
    }
  }
}
