.newsletter-form {
  display: flex;
  flex-wrap: wrap;

  @media #{$landscapePhone} {
    flex-wrap: nowrap;
  }

  &__email {
    margin-bottom: 1rem;
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;

    @media #{$landscapePhone} {
      margin-right: 1rem;
      margin-bottom: 0;
      flex-basis: auto;
      text-align: left;
    }
  }

  .btn {
    flex-basis: 100%;

    @media #{$landscapePhone} {
      flex-basis: auto;
    }
  }
}

.newsletter-form-message {
  font-size: 1.4rem;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;

  @media #{$landscapePhone} {
    text-align: left;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
  }
}

.newsletter-form-message--error {
  background: $redColor;
}

.newsletter-form-message--success {
  background: $greenColor;
}
