$breakDevice: $largeDesktop;
$InRowBreakDevice: $tablet;
$buttonBorder: 0.1rem;

.professionals {
  padding-top: 8rem;
  padding-bottom: 10rem;

  @media #{$tablet} {
    padding-top: 10rem;
    padding-bottom: 15rem;
  }

  &__group {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;

    @media #{$InRowBreakDevice} {
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    .person {
      border-bottom: 0.2rem solid #454545;
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      flex-basis: 100%;

      max-width: 40rem;

      @media #{$InRowBreakDevice} {
        max-width: inherit;
        flex-basis: 33.33%;

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }

      @media #{$breakDevice} {
        display: block;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0.2rem;
        background: $accentColor;
        transition: width 300ms ease;
        bottom: -0.1rem;
      }

      &__photo {
        max-width: 100%;
        width: 100%;
      }

      &__bio {
        padding: 0 3rem 4rem;
        transition: all 300ms ease;
        order: 5;
        opacity: 0;
        display: none;
        z-index: 2;

        @media #{$InRowBreakDevice} {
          padding: 0 1.5rem 3rem;
        }

        @media #{$desktop} {
          padding: 0 3rem 3rem;
        }

        @media #{$breakDevice} {
          position: absolute;
          top: 2rem;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          padding: 2rem 3rem 4rem;
        }
      }

      &__shade {
        z-index: 1;
        transition: opacity 200ms ease;
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      &__meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.2rem 3rem;
        z-index: 2;
        position: relative;

        @media #{$InRowBreakDevice} {
          padding: 2rem 1.5rem;
        }

        @media #{$desktop} {
          padding: 2.2rem 3rem;
        }

        h4 {
          font-weight: 700;
          font-size: 2.2rem;
          margin-bottom: 0.2rem;

          @media #{$InRowBreakDevice} {
            font-size: 2rem;
          }

          @media #{$desktop} {
            font-size: 2.2rem;
          }
        }

        p {
          color: #b3b3b3;
          font-size: 1.4rem;
        }

        button {
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
          border: $buttonBorder solid white;
          background: transparent;
          transition: border 200ms linear, background 150ms ease;
          position: relative;
          outline: 0;
          cursor: pointer;

          .arrow {
            transform: rotate(180deg) scale(0.7);
          }

          .x {
            transform: scale(0.7);
          }

          @media #{$InRowBreakDevice} {
            width: 3rem;
            height: 3rem;

            .arrow,
            .x {
              transform: scale(0.6);
            }
          }

          @media #{$desktop} {
            width: 4.5rem;
            height: 4.5rem;

            .arrow,
            .x {
              transform: scale(0.7);
            }
          }

          &:hover {
            background: rgba($color: $accentColor, $alpha: 0.5);
          }

          .x {
            display: none;
            margin-top: 0.3rem;
          }

          #arrow_core {
            transition: stroke 200ms linear;
          }
        }
      }

      &--open {
        cursor: inherit;

        &::after {
          width: 100%;
        }

        .person__bio {
          opacity: 1;
          top: 0;
          display: block;
        }

        .person__shade {
          opacity: 0 !important;

          @media #{$breakDevice} {
            opacity: 0.8 !important;
          }
        }

        .person__meta {
          button {
            background: $accentColor;
            border: $buttonBorder solid $accentColor;

            &:hover {
              background: $accentHoverColor;
            }

            .x {
              display: block;
            }

            .arrow {
              display: none;
            }
          }
        }
      }

      &:hover {
        &::after {
          width: 100%;
        }

        .person__shade {
          opacity: 0.2;
        }

        .person__meta {
          button {
            border: $buttonBorder solid $accentColor;

            #arrow_core {
              stroke: $accentColor;
            }
          }
        }
      }
    }
  }
}
