.whitepaper {
  background-color: #007580;
  padding: 10rem 0 9rem;

  @media #{$tablet} {
    padding: 14rem 0;
  }

  .container {
    @media #{$tablet} {
      display: flex;
    }
  }

  &__left {
    margin-bottom: 3rem;

    @media #{$tablet} {
      padding-right: 2rem;
      flex-basis: 30%;
      text-align: right;
      margin-bottom: 0;
    }
    @media #{$desktop} {
      padding-right: 5rem;
      flex-basis: 40%;
    }
    @media #{$largeDesktop} {
      padding-right: 8rem;
    }

    img {
      height: 35rem;
      max-width: 100%;
      box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.15);

      @media #{$tablet} {
        height: auto;
      }
      @media #{$desktop} {
        height: 35rem;
      }
    }
  }

  &__right {
    @media #{$tablet} {
      padding-left: 4rem;
    }
    @media #{$desktop} {
      padding-left: 8rem;
    }

    h3 {
      text-transform: uppercase;
      font-size: 1.7rem;
      font-weight: 700;
      color: #c0f7fc;
    }

    h4 {
      margin-top: 3rem;
      margin-bottom: 5rem;
      font-size: 3rem;
      max-width: 40rem;
      font-weight: 700;
    }
  }

  &__form {
    @media #{$tablet} {
      width: 45rem;
    }
  }
}
