$accentColor: #009eac;
$accentHoverColor: #02b3c4;
$redColor: #c91e3f;
$greenColor: #478f4a;

$ArchivoBlack: "Archivo Black", sans-serif;

// Breaking points
$landscapePhone: "only screen and (min-width : 576px)";
$tablet: "only screen and (min-width : 768px)";
$desktop: "only screen and (min-width : 992px)";
$largeDesktop: "only screen and (min-width : 1200px)";

html {
  font-size: 62.5%;
}

html,
body,
input,
button,
textarea {
  padding: 0;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: black;
  color: white;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.7;
  color: #dedede;
}

.sr-only {
  font-size: 0;
  height: 1px;
  overflow: hidden;
  display: block;
}

/*=============================================
=            Section            =
=============================================*/

.section {
  &--white {
    background: white;
    color: #383838;

    a {
      text-decoration: underline;
    }
  }
}

/*=====  End of Section  ======*/

.container {
  width: auto;
  max-width: 128rem;
  padding: 0 2.5rem;
  margin: 0 auto;

  @media #{$tablet} {
    padding: 0 4rem;
  }
}

.nowrap {
  white-space: nowrap;
  white-space: pre;
}

@import "./_inputs.scss";
@import "./_header.scss";
@import "./_hero.scss";
@import "./_expertise.scss";
@import "./_professionals.scss";
@import "./_whitepaper.scss";
@import "./_newsletter.scss";
@import "./_contact.scss";
@import "./_footer.scss";
@import "./_loader.scss";
@import "./_cookies.scss";
